<div id="pageTop"><div class="wrap"><a href="#header"><span>TOP</span></a></div></div>

<div id="footer_wrap" class="wrap">

<nav id="foot_nav" class="pc">
<ul class="ns cf">
<li>
<strong>About ABCI</strong>
<a href="./ja/about_abci/">About ABCI</a>
<a href="./ja/about_abci/leadership.html">Leadership</a>
<a href="./ja/about_abci/computing_resource.html">Computing Resource</a>
<a href="./ja/about_abci/datacenter_facility.html">Datacenter Facility</a>
<a href="./ja/about_abci/software.html">Software stack</a>
<a href="./ja/about_abci/cloud_service.html">Cloud Service</a>
<a href="./ja/about_abci/info.html">Infomation</a>
</li>
<li>
<strong>How to use</strong>
<a href="./ja/how_to_use/">How to request services</a>
<a href="./ja/how_to_use/tariffs.html">Tariffs</a>
<a href="./ja/how_to_use/user_support.html">User Support</a>
<a href="./ja/how_to_use/faq.html">FAQ</a>
</li>
<li>
<strong>Research</strong>
<a href="https://unit.aist.go.jp/rwbc-oil/" target="_blank">RWBC-OIL</a>
<a href="https://www.airc.aist.go.jp/" target="_blank">AIRC</a>
<a href="https://www.aist.go.jp/" target="_blank">AIST</a>
<li>
<strong>Event</strong>
<a href="./ja/event/">Event Archives</a>
</li>
<li>
<strong>News</strong>
<a href="./ja/news/">News List</a>
</li>
<li class="x">
<a href="./ja/how_to_use/user_support.html">Contact US</a>
<a href="./ja/privacy_policy/">Privacy Policy</a>
</li>
</ul>
</nav>

<p>Copyright ©National Institute of Advanced Industrial Science and Technology(AIST)(Japan Corporate Number 7010005005425). All rights reserved.</p>
<div id="footer_bottom">
<a href="https://www.aist.go.jp/" target="_blank"><img src="./img/foot_logo.png" /></a>
</div>

</div>
