<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<title>運転状況 - ABCIについて | ABCI</title>
<link rel="stylesheet" href="../../css/style.css" />
<link rel="stylesheet" href="../../css/sub.css" />
<script type='text/javascript' src='../../js/jquery.js'></script>
<script type='text/javascript' src='../../js/base.js'></script>
<link rel="icon" sizes="32x32" href="../../img/favicon-32x32.png">
<link rel="icon" sizes="192x192" href="../../img/meta/touch-icon-192x192.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="../../img/meta/apple-touch-icon-180x180-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../../img/meta/apple-touch-icon-152x152-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../img/meta/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../../img/meta/apple-touch-icon-120x120-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../img/meta/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../../img/meta/apple-touch-icon-76x76-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../img/meta/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../../img/meta/apple-touch-icon-precomposed.png">
<meta name="msapplication-TileImage" content="../../img/meta/msapplication_tileimage.png">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118371652-1"></script>
<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-118371652-1'); </script>
</head>


<body>
<header id="header">
<div  class="wraps">

<a href="../../ja/" id="logo"><img src="../../img/logo.png" alt="ABCI" /></a>
<span id="menu_btn" class="sp"><a href="javascript:;"><span></span><span></span><span></span></a><font>MENU</font></span>
<div id="nav_wrap">

<nav id="nav">
<ul class="ns cf">
<li><a href="../../ja/"><img src="../../img/icon/home.png" alt="ホーム" class="pc" /><span class="sp">ホーム</span></a></li>
<li class="active">
    <strong>ABCIについて</strong>
    <ul class="ns">
    	<li><a href="../../ja/about_abci/">ABCIとは</a></li>
                                <li><a href="../../ja/about_abci/leadership.html">リーダーシップ</a></li>
        <li><a href="../../ja/about_abci/computing_resource.html">計算資源</a></li>
        <li><a href="../../ja/about_abci/datacenter_facility.html">データセンター</a></li>
        <li><a href="../../ja/about_abci/software.html">ソフトウェアスタック</a></li>
        <li><a href="../../ja/about_abci/cloud_service.html">クラウドサービス</a></li>
<li><a href="../../ja/about_abci/info.html">運転状況</a></li>

	</ul>
</li>

<li>
    <strong>ご利用方法</strong>
    <ul class="ns">
        <li><a href="../../ja/how_to_use/">ご利用申込み方法</a></li>
        <li><a href="../../ja/how_to_use/tariffs.html">ご利用料金</a></li>
        <li><a href="../../ja/how_to_use/user_support.html">ユーザーサポート</a></li>
        <li><a href="../../ja/how_to_use/faq.html">FAQ</a></li>
    </ul>
</li>
<li>
    <strong>リサーチ</strong>
    <ul class="ns">
        <li><a href="https://unit.aist.go.jp/rwbc-oil/" target="_blank">RWBC-OIL</a></li>
        <li><a href="https://www.airc.aist.go.jp/" target="_blank">AIRC</a></li>
        <li><a href="https://www.aist.go.jp/" target="_blank">AIST</a></li>
    </ul>
</li>
<li>
    <strong>イベント情報</strong>
    <ul class="ns">
        <li><a href="../../ja/event/">イベント情報アーカイブ</a></li>
    </ul>
</li>
<li>
    <strong>ニュース</strong>
    <ul class="ns">
        <li><a href="../../ja/news/">ニュース一覧</a></li>
    </ul>
</li>
<li class="sp">
<strong>プライバシーポリシー</strong>
<ul class="ns">
<li><a href="../../ja/privacy_policy/">プライバシーポリシー</a></li>
</ul>
</li>
</ul>
</nav>

<div id="header_top">
<ul class="ns">
<li><form id="search" onsubmit="google_search(); return false;"> <input id="google-search" placeholder="ABCI Grand Challenge" type="text"><input type="submit" value="" id="serach_btn" onclick="onClik();"></form></li>
<li id="top_contact"><a href="../../ja/how_to_use/user_support.html"><span></span><strong>お問い合わせ</strong></a></li>
                        <li class="change_language sp"><span>日本語</span><a href="../../">English</a></li>

</ul>
</div>
<nav id="change_language" class="pc">
<ul class="ns">
<li>日本語&nbsp;/&nbsp;</li>
<li><a href="../../">English</a></li>
</ul>
</nav>

</div>
</div>
</header>

<div id="sub_area" class="wrap">
    <div id="breadcrumb" class="pc">
        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="ABCI" href="../../ja/" class="home"><span property="name">HOME</span></a><meta property="position" content="1"></span>
        <span property="itemListElement" typeof="ListItem"><span property="name">運転状況</span><meta property="position" content="2"></span>
    </div>
    <h1 class="h1">ABCIについて</h1>
</div>

<div id="main" class="wrap cf">

    <aside id="left">
    	<div id="sub_menu_select" class="sp">メニュー<span></span></div>
    	<nav id="side_menu">
            <a href="../../ja/about_abci/"><span>ABCIとは</span></a>
            <a href="../../ja/about_abci/leadership.html"><span>リーダーシップ</span></a>
            <a href="../../ja/about_abci/computing_resource.html"><span>計算資源</span></a>
            <a href="../../ja/about_abci/datacenter_facility.html"><span>データセンター</span></a>
            <a href="../../ja/about_abci/software.html"><span>ソフトウェアスタック</span></a>
            <a href="../../ja/about_abci/cloud_service.html"><span>クラウドサービス</span></a>
<a href="../../ja/about_abci/info.html" class="active"><span>運転状況</span></a>

        </nav>
    </aside>
    
    <div id="container">
    
        <h2 class="h2">運転状況</h2>
        
        <h3 class="h3">運用スケジュール</h3>
        <p class="c">ABCI 利用者ポータルとABCI全体の運用に係る停止情報は下記のとおりです。</p>
        <table class="table">
          <tr>
            <th>開始日時</th>
            <th>終了日時</th>
            <th>対象</th>
          </tr>
          <tr>
            <td>7/27 14:00 </td>
            <td>8/1 10:00</td>
            <td>メンテナンスのために利用者ポータル停止、ABCI全体停止</td>
          </tr>
          <tr>
            <td>9月下旬 日時未定</td>
            <td>&nbsp;</td>
            <td>停電に伴うメンテナンスのために利用者ポータル停止、ABCI全体停止</td>
          </tr>
          <tr>
            <td>10月中旬 日時未定</td>
            <td>&nbsp;</td>
            <td>停電に伴うメンテナンスのために利用者ポータル停止、ABCI全体停止</td>
          </tr>
          <tr>
            <td>10月下旬 日時未定</td>
            <td>&nbsp;</td>
            <td>ABCIグランドチャレンジ実施に伴うABCIサービス停止</td>
          </tr>
          <tr>
            <td>12月中旬 日時未定</td>
            <td>&nbsp;</td>
            <td>停電に伴うメンテナンスのために利用者ポータル停止、ABCI全体停止</td>
          </tr>
          <tr>
            <td>1月下旬 日時未定</td>
            <td>&nbsp;</td>
            <td>ABCIグランドチャレンジ実施に伴うABCIサービス停止</td>
          </tr>
        </table>
        <br /><br />
        <h3 class="h3">お知らせ</h3>
        <ul class="dot_ul c">
        <li class="dot">ABCIは下記の期間、システム全停止します。7/27(金曜) 14:00 ～ 8/1(水曜) 10:00<br />＊この間、「ABCI利用登録申請」もできなくなりますので、ご注意ください。<br />ご迷惑をおかけしますが、よろしくお願いします。</li>
		<li class="dot">ABCIのサービス利用開始は、2018/8/1 13:00の予定です。(2018.7.31)</li>
        </ul>  

    </div>
</div>

<footer id="footer">
<div id="pageTop"><div class="wrap"><a href="#header"><span>TOP</span></a></div></div>

<div id="footer_wrap" class="wrap">

<nav id="foot_nav" class="pc">
    <ul class="ns cf">
        <li>
            <strong>ABCIについて</strong>
            <a href="../../ja/about_abci/">ABCIとは</a>
            <a href="../../ja/about_abci/leadership.html">リーダーシップ</a>
            <a href="../../ja/about_abci/computing_resource.html">計算資源</a>
            <a href="../../ja/about_abci/datacenter_facility.html">データセンター</a>
            <a href="../../ja/about_abci/software.html">ソフトウェアスタック</a>
            <a href="../../ja/about_abci/cloud_service.html">クラウドサービス</a>
            <a href="../../ja/about_abci/info.html">運転状況</a>

        </li>
        <li>
            <strong>ABCIのご利用方法</strong>
            <a href="../../ja/how_to_use/">ご利用申込み方法</a>
            <a href="../../ja/how_to_use/tariffs.html">ご利用料金</a>
            <a href="../../ja/how_to_use/user_support.html">ユーザーサポート</a>
            <a href="../../ja/how_to_use/faq.html">FAQ</a>
        </li>
        <li>
            <strong>リサーチ</strong>
            <a href="https://unit.aist.go.jp/rwbc-oil/" target="_blank">RWBC-OIL</a>
            <a href="https://www.airc.aist.go.jp/" target="_blank">AIRC</a>
            <a href="https://www.aist.go.jp/" target="_blank">AIST</a>
        </li>
        <li>
            <strong>イベント情報</strong>
            <a href="../../ja/event/">イベント情報アーカイブ</a>
        </li>
        <li>
            <strong>ニュース</strong>
            <a href="../../ja/news/">ニュース一覧</a>
        </li>
        <li class="x">
            <a href="../../ja/how_to_use/user_support.html">お問い合わせ先</a>
            <a href="../../ja/privacy_policy/">プライバシーポリシー</a>
        </li></ul>
</nav>

<p>Copyright ©National Institute of Advanced Industrial Science and Technology(AIST)(Japan Corporate Number 7010005005425). All rights reserved.</p>
<div id="footer_bottom">
<a href="https://www.aist.go.jp/" target="_blank"><img src="../../img/foot_logo.png" /></a>
</div>

</div>
</footer>

</body>

</html>
