<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/index.css" />
<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/base.js'></script>
<script type='text/javascript' src='js/index.js'></script>

<link rel="icon" sizes="32x32" href="img/favicon-32x32.png">
<link rel="icon" sizes="192x192" href="img/meta/touch-icon-192x192.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="img/meta/apple-touch-icon-180x180-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/meta/apple-touch-icon-152x152-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/meta/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/meta/apple-touch-icon-120x120-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/meta/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/meta/apple-touch-icon-76x76-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/meta/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="img/meta/apple-touch-icon-precomposed.png">
<meta name="msapplication-TileImage" content="img/meta/msapplication_tileimage.png">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118371652-1"></script>
<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-118371652-1'); </script>
</head>


<body id="home">
<header id="header" class="wraps">
<a href="./" id="logo"><img src="img/logo.png" alt="ABCI" /></a>
<span id="menu_btn" class="sp"><a href="javascript:;"><span></span><span></span><span></span></a><font>MENU</font></span>
<div id="nav_wrap">
<nav id="nav">
<ul class="ns cf">
<li><a href="./"><img src="img/icon/home.png" alt="Home" class="pc" /><span class="sp">HOME</span></a></li>
<li>
<strong>About ABCI</strong>
<ul class="ns">
<li><a href="./ja/about_abci/">About ABCI</a></li>
<li><a href="./ja/about_abci/leadership.html">Leadership</a></li>
<li><a href="./ja/about_abci/computing_resource.html">Computing Resource</a></li>
<li><a href="./ja/about_abci/datacenter_facility.html">Datacenter Facility</a></li>
<li><a href="./ja/about_abci/software.html">Software stack</a></li>
<li><a href="./ja/about_abci/cloud_service.html">Cloud Service</a></li>
<li><a href="./ja/about_abci/info.html">Infomation</a></li>
</ul>
</li>

<li>
<strong>How to use</strong>
<ul class="ns">
<li><a href="./ja/how_to_use/">How to request services</a></li>
<li><a href="./ja/how_to_use/tariffs.html">Tariffs</a></li>
<li><a href="./ja/how_to_use/user_support.html">User Support</a></li>
<li><a href="./ja/how_to_use/faq.html">FAQ</a></li>
</ul>
</li>
<li>
<strong>Research</strong>
<ul class="ns">
<li><a href="https://unit.aist.go.jp/rwbc-oil/" target="_blank">RWBC-OIL</a></li>
<li><a href="https://www.airc.aist.go.jp/" target="_blank">AIRC</a></li>
<li><a href="https://www.aist.go.jp/" target="_blank">AIST</a></li>
</ul>
</li>
<li>
<strong>Event</strong>
<ul class="ns">
<li><a href="./ja/event/">Event Archives</a></li>
</ul>
</li>
<li>
<strong>News</strong>
<ul class="ns">
<li><a href="./ja/news/">News List</a></li>
</ul>
</li>
<li class="sp">
<strong>Privacy Policy</strong>
<ul class="ns">
<li><a href="./ja/privacy_policy/">Privacy Policy</a></li>
</ul>
</li>

</ul>
</nav>

<div id="header_top">
<ul class="ns">
<li><form id="search" onsubmit="google_search(); return false;"> <input id="google-search" placeholder="ABCI Grand Challenge" type="text"><input type="submit" value="" id="serach_btn"></form></li>
<li id="top_contact"><a href="./ja/contact/"><span></span><strong>Contact US</strong></a></li>
<li class="change_language sp"><a href="./ja/">日本語</a><span>English</span></li>
</ul>
</div>
<nav id="change_language" class="pc">
<ul class="ns">
<li><a href="./ja/">日本語</a>&nbsp;/&nbsp;</li>
<li>English</li>
</ul>
</nav>
</div>

</header>

<div id="top_img_wrap">
<div id="top_img_contents" class="wrap">
<h1 id="top_img"><img id="top_img_img" src="img/index/text_img.png" alt="AI Bridging Cloud Infrastructure" /></h1>
<h2 id="top_img_text">AI Briding Cloud Infrastructure (ABCI) is the world's first large-scale Open AI Computing Infrastructure, constructed and operated by National Institute of Advanced Industrial Science and Technology (AIST).</h2>
</div>
</div>

<div id="main" class="wrap">

<div id="widgets_news">

<span class="f17"><strong class="f20">What's New</strong> | 2018.6.26</span>
<h2 class="h2">ABCI ranked 5th on the TOP500 list.</h2>


<div id="abci_headline">
<h2 class="widget_title mb15">ABCI Headline</h2>
<ul class="ns">
<li><a href="https://www.aist.go.jp/aist_j/press_release/pr2018/pr20180626/pr20180626.html" target="_blank"><span>2018.6.26 [NEWS]</span>ABCI ranked 5th on the TOP500 list.</a></li>
<li><a href="./ja/news/201808.html"><span>2018.7.23-27 [NEWS]</span>ABCI Grand Challenge (1st)</a></li>
<li><a href="./ja/event/event3.html"><span>2018.8.1 [EVENT]</span>ABCI Cloud Service is open.</a></li>
<li><a href="./ja/event/event4.html"><span>2018.8.20 [EVENT]</span>ABCI Special Seminar; “How do you take AI?”</a></li>
</ul>
</div>
</div>

<div id="top_img_menu">
<ul class="ns cf">
<li><a href="./ja/about_abci/"><img src="img/index/img1.jpg" alt="" /><h2>About ABCI</h2></a></li>
<li><a href="./ja/how_to_use/"><img src="img/index/img2.jpg" alt="" /><h2>How to use</h2></a></li>
<li><a href="./ja/news/"><img src="img/index/img3.jpg" alt="" /><h2>News</h2></a></li>
<li><a href="./ja/about_abci/info.html"><img src="img/index/img4.jpg" alt="" /><h2>Infomation</h2></a></li>

</ul>
</div>

<div id="event">
<h2 class="widget_title">Event<a href="./ja/event/" class="more_link">Event Archives</a></h2>
<ul class="ns cf">
<li><a href="./ja/event/event3.html"><div><strong>ABCI Cloud Service is open.</strong></div><figure><img src="img/event/event3.png" alt="" /></figure><p class="cf"><img src="img/icon/s_logo.png" />2018.8.1</p></a></li>
<li><a href="./ja/event/event4.html"><div><strong>ABCI Special Seminar; “How do you take AI?”</strong></div><figure><img src="img/event/event4.png" alt="" /></figure><p class="cf"><img src="img/icon/s_logo.png" />2018.8.20</p></a></li>
<li><a href="./ja/event/event5.html"><div><strong>ABCI Grand Challenge (2nd)</strong></div><figure><img src="img/event/event2.png" alt="" /></figure><p class="cf"><img src="img/icon/s_logo.png" />2018.10</p></a></li>
<li class="disnone"><a href="https://sc18.supercomputing.org/" target="_blank"><div><strong>SC 18</strong></div><figure><img src="img/event/event5.png" alt="" /></figure><p class="cf"><img src="img/icon/s_logo.png" />2018.11.11-16</p></a></li>


</ul>   
</div>

<div class="btn_area">
<a href="javascript:;" id="read_more" class="btn">Read More</a>
<a href="javascript:;" id="btn_close" class="btn">Hidden</a>
</div>

</div>

<footer id="footer">
<div id="pageTop"><div class="wrap"><a href="#header"><span>TOP</span></a></div></div>

<div id="footer_wrap" class="wrap">

<nav id="foot_nav" class="pc">
<ul class="ns cf">
<li>
<strong>About ABCI</strong>
<a href="./ja/about_abci/">About ABCI</a>
<a href="./ja/about_abci/leadership.html">Leadership</a>
<a href="./ja/about_abci/computing_resource.html">Computing Resource</a>
<a href="./ja/about_abci/datacenter_facility.html">Datacenter Facility</a>
<a href="./ja/about_abci/software.html">Software stack</a>
<a href="./ja/about_abci/cloud_service.html">Cloud Service</a>
<a href="./ja/about_abci/info.html">Infomation</a>
</li>
<li>
<strong>How to use</strong>
<a href="./ja/how_to_use/">How to request services</a>
<a href="./ja/how_to_use/tariffs.html">Tariffs</a>
<a href="./ja/how_to_use/user_support.html">User Support</a>
<a href="./ja/how_to_use/faq.html">FAQ</a>
</li>
<li>
<strong>Research</strong>
<a href="https://unit.aist.go.jp/rwbc-oil/" target="_blank">RWBC-OIL</a>
<a href="https://www.airc.aist.go.jp/" target="_blank">AIRC</a>
<a href="https://www.aist.go.jp/" target="_blank">AIST</a>
<li>
<strong>Event</strong>
<a href="./ja/event/">Event Archives</a>
</li>
<li>
<strong>News</strong>
<a href="./ja/news/">News List</a>
</li>
<li class="x">
<a href="./ja/contact/">Contact US</a>
<a href="./ja/privacy_policy/">Privacy Policy</a>
</li>
</ul>
</nav>

<p>Copyright ©National Institute of Advanced Industrial Science and Technology(AIST)(Japan Corporate Number 7010005005425). All rights reserved.</p>
<div id="footer_bottom">
<a href="https://www.aist.go.jp/" target="_blank"><img src="img/foot_logo.png" /></a>
</div>

</div>
</footer>

</body>

</html>
